body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    position: relative; /* Added to allow positioning of the logo */
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px; /* Adjust size as needed */
    border-radius: 8px; /* Added for a rounded effect */
}

h1, h2 {
    text-align: center;
    color: #333;
    background-color: #dc3545;
    border-radius: 20px;
    padding: 10px; /* Adjusted to make the text look better with rounded edges */
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

form input, form textarea, form button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

button {
    padding: 10px;
    background-color: #b84615;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button.delete {
    background-color: #dc3545;
}

button.edit {
    background-color: #1edc31;
}

button:hover {
    opacity: 0.9;
}
